$brand-primary: #a4a436;
$brand-success: #a4a436;
$brand-secondary: #8c8a34;
$brand-info: #366da4;
$brand-text: #444444;
$brand-warning: #a46d36;
$brand-danger: #b06b5c;
$brand-error: #b06b5c;

$sans-serif: Oxygen, sans-serif;
$cursive: Lobster, cursive;

$screen-sm: 768px;

$bg-image: var(--bg-image);
